@{
	Layout = "_AdminLayout";
	ViewData["Title"] = "Admin-Dashboard";
}
<div class="page-inner">
	<div class="page-header-custom">
		<span class="bar"></span>
		<h1 class="page-title">Dashboard</h1>
	</div>
</div>
